@import url("https://fonts.googleapis.com/css?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");

* {
	font-family: "Kumbh Sans";
}

body {
	background-color: #2c2f33;
}

.header {
	background-color: #23272a;
	color: #ffffff;
	padding: 1rem;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

.header div {
	margin-right: 1rem;
}

.header a {
	float: right;
	background-color: #7289da;
	color: #ffffff;
	text-align: center;
	padding: 1rem;
	justify-content: center;
	border-radius: 0.4rem;
	text-decoration: none;
	font-size: 20px;
	margin: 0.5rem;
	font-weight: bold;
}
.header h1 {
	float: left;
	text-align: center;
	padding: 0px 15px;
	text-decoration: none;
	font-size: auto;
}

.header a:hover {
	background-color: #6684f1;
}

.header a.active {
	background-color: black;
	color: #ffffff;
}

.banner img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.banner h1 {
	position: absolute;
	top: 25%;
	left: 45%;
	color: #ffffff;
	margin: 0;
}

.container {
	color: #ffffff;
}

.container h1 {
	text-align: center;
}

.container p {
	text-align: center;
	max-width: 30vw;
	margin: 0 auto;
}

.footer {
	background-color: #23272a;
	color: #ffffff;
	padding: 0.5rem;
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
}

.footer h1 {
	font-size: 1.5rem;
	width: auto;
	height: auto;
}

.footer p {
	float: right;
	padding-right: 1rem;
	width: auto;
	font-size: 1rem;
}
